@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer;
<header>
    <h1 class="text-danger">@Localizer["AccessDenied"]</h1>
    <p class="text-danger">@Localizer["YouDontHaveAccess"]</p>
</header>
