
@using Microsoft.AspNetCore.Mvc.Localization
@using Shop.UI.Models.Identity
@model ChangePasswordViewModel
@inject IViewLocalizer Localizer;
<h3>@Localizer["ChangePass"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post" asp-controller="Account" asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mt-4">
                <input asp-for="OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                <label asp-for="OldPassword" class="form-label"></label>
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mt-4">
                <input asp-for="NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="NewPassword" class="form-label"></label>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mt-4">
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 mt-4 btn btn-lg btn-primary">@Localizer["ChangePass"]</button>
        </form>
    </div>
</div>

