@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="mt-4 mb-4">
    <h2>@Localizer["AccountSuccessfullyCreated"]</h2>
    <h3>@Localizer["GoToEmailConfirm"]</h3>
</div>