@using Microsoft.AspNetCore.Mvc.Localization
@using Shop.Models.DTO
@using Shop.Models.Identity
@model ForgotPasswordViewModel
@inject IViewLocalizer Localizer
<div>
    <h2>@Localizer["ResetPassword"]</h2>
    <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group mt-4">
            <div>
                <button class="btn btn-lg btn-primary" type="submit">@Localizer["ResetPassword"]</button>                  
            </div>
        </div>
    </form>
</div>