@using Shop.Models.Identity
@model RegisterViewModel?


<h1>Register</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-controller="Account" asp-action="Register" method="post">
            <fieldset>
                <hr />
                <div class="container-sm">
                    <ul>
                        <li>Password must have at least 1 capital letter</li>
                        <li>Password must have digits</li>
                        <li>Password must more than 7 symbols</li>
                    </ul>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email"  class="form-control" required/>                    
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control"  required />                    
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" type="password" class="form-control"  required />                    
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control"  required />                   
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <br />
                <div class="d-grid gap-2">
                  <button class="btn btn-lg btn-primary" type="submit">Register</button>                  
                </div>
            </fieldset>
        </form>
    </div>
    
</div>

