@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}
 
<h2>@ViewData["Title"]</h2>
<p>
    Your password was reset. Now please follow the <a asp-controller="Account" asp-action="Login">link</a> to Log in.
</p>