
<div class="container">
    <a class="btn btn-primary" asp-controller="Admin" asp-action="AddAdmin">Add new admin</a>
    <a class="btn btn-primary" asp-controller="Admin" asp-action="GetAllUsers">All Users</a>
    <a class="btn btn-primary" asp-controller="Admin" asp-action="ManageCategories">Manage Categories</a>
</div>