<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>MultiShop</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.2.0/litera/bootstrap.min.css" integrity="sha512-RxCahUxa1Cg6Zebd0MrBja/PvGkHdD+xKCDDWVSls3qRGuvjaLQe56GPrUO9Ab0JB+sR1IPcwm/Qg1g1eHMr/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <div class="container">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">MultiShop</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
			</div>
            
			<div class="container-fluid">
				<form class="d-flex">
						<input class="form-control me-sm-2" type="text" placeholder="Search">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>

			<div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarColor03">                    
					<ul class="navbar-nav">
						@if(User.Identity.IsAuthenticated) {
							<li class="nav-item">
                                <a asp-controller="Account" asp-action="Logout" class="nav-link">Logout</a>                          
							</li>                            							
						} else {                            
							<li class="nav-item">
								<a class="nav-link" asp-action="Register" asp-controller="Account">Sign up</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" asp-route-returnUrl="@Context.Request.Path" asp-action="Login" asp-controller="Account">Log in</a>
							</li>
						}
					</ul>				
				</div>
            </div>
		</div>					
	</nav>
	<div class="container  mt-2">
		@RenderBody()
	</div>
</body>
</html>