@using Microsoft.AspNetCore.Mvc.Localization

@using Shop.DAL.Data.Entities;
@model List<Item>;
@inject IViewLocalizer Localizer;


<div class="pagetitle">
    <h1>Items</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Account</li>
            <li class="breadcrumb-item active">MyItems
            </li>
        </ol>
    </nav>
</div>
<div class="row">
   <a asp-controller="User" asp-action="AddItemPage" class="btn btn-primary">Add new</a>
   <div class="border-top my-3"></div>
   @if (Model!=null)
   {
       @foreach (var item in Model)
       {
            <div class="card mb-3 ">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img class="img-fluid rounded mt-3 mb-3" src="@item.ImageUrl" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a asp-controller="Home" asp-action="ItemPage" asp-route-id="@item.ItemId" class="text-dark">@item.ItemName</a> </h5>
                            <p class="card-text">@item.Description</p>
                        </div>
                    </div>
                </div>
            </div>
       }
   }
    
</div>