@using Shop.DAL.Data.Entities
@model IEnumerable<Sell>;


@if (Model!=null) {
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4 item">
                @foreach (var item in Model)
                {
                    <a class="product-item" asp-action="ItemPage" asp-controller="Home" asp-route-id="@item.ItemId">
                        
                        <div class="product-item__info">
                            <h3 class="product-item__title">@item.Id</h3>
                            <p class="product-item__price">@item.BuyerID</p>
                            <p>@item.SellerID</p>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
}