@using Microsoft.AspNetCore.Mvc.Localization
@using Shop.DAL.Data.Entities
@model List<Category>
@inject IViewLocalizer Localizer;

@if(Model != null) {
    <div class="row" style="justify-content:space-evenly;">
        @foreach(var category in Model) {
            <div class="card col-md-3">
                <div class="card-body">
                    <h5 class="card-title">
                        @category.Name
                    </h5>
                    <a asp-controller="Home" asp-action="SearchByCategory" asp-route-categoryId="@category.Id">@Localizer["Items"]</a>
                </div>
            </div>
        }
    </div>
}