@using Shop.Controllers
@model Item;

<!doctype html>
<html>
    <head>
        @*<title>@Model.Name</title>*@
    </head>
    <body>
        <div class="container">
            
        </div>
    </body>
</html>