@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://wallpaperboat.com/wp-content/uploads/2020/04/minimalist-aesthetic-wallpaper-1920x1080-1.jpg');
      height: 400px;
    "
  >
    <div class="mask" >
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 style="color:white;">@Localizer["Helloat"] LetItBuy!</h1>
        </div>
      </div>
    </div>
  </div>

