@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<div
    class="p-5 text-center bg-image"
  >
    <div class="mask" >
      <div class="d-flex h-100">
        <div class="text-white">
          <h1 style="color:black;">@Localizer["Helloat"] LetItBuy!</h1>
        </div>
      </div>
    </div>
  </div>

